body {
	font: "helvetica neue",arial,sans-serif
}

#appview {
	padding :10px;
}

#appview .pin {
	width: 192px;
	padding: 15px 15px 0;
	font-size: 11px;
	background-color: white;
	box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
	-webkit-box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
	position: absolute;
}

#appview .pin::after {
	content: "";
	clear: both;
}

#appview .pin .source {
	margin-top: 10px;
	color: #AD9C9C;
	margin: 0 -15px;
	padding: 10px 15px;
	background-color: #F2F0F0;
}

#appview .pin p.title {
	font-size: 11px;
	margin: 10px 0 5px;
	overflow: hidden;
	word-wrap: break-word;
}

#appview .pin .actions {
	position: absolute;
	top: 0;
}